
<div class="row ">
  <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 social-login">
     <%= render "devise/shared/sociallinks" %>
  </div>
</div>
<div class="row ">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 vcenter login-form"}) do |f| %>
  <h2>Se connecter</h2>
  <div class="form-group">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password %><br/>
    <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="form-check">

    <%= f.label :remember_me, class: "form-check-label" do %>

    <%= f.check_box :remember_me, class: "form-check-input" %>
    Remember me
    <% end %>
  </div>
  <% end -%>

  <div class="form-link">  <%= render "devise/shared/links" %></div>
  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-default" %>
  </div>
  <% end %>
</div>
