<%= form_for(card) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :desc %>
    <%= f.text_area :desc %>
  </div>

  <div class="field">
    <%= f.label :budget_oui %>
    <%= f.number_field :budget_oui %>
  </div>

  <div class="field">
    <%= f.label :employers_oui %>
    <%= f.number_field :employers_oui %>
  </div>

  <div class="field">
    <%= f.label :population_oui %>
    <%= f.number_field :population_oui %>
  </div>
  <div class="field">
    <%= f.label :budget_non %>
    <%= f.number_field :budget_non %>
  </div>

  <div class="field">
    <%= f.label :employers_non %>
    <%= f.number_field :employers_non %>
  </div>

  <div class="field">
    <%= f.label :population_non %>
    <%= f.number_field :population_non %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
