<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @card.desc %>
</p>

<p>
  <strong>Budget_oui:</strong>
  <%= @card.budget_oui %>
</p>

<p>
  <strong>Employers_oui:</strong>
  <%= @card.employers_oui %>
</p>

<p>
  <strong>Population_oui:</strong>
  <%= @card.population_oui %>
</p>
<p>
  <strong>Budget_non:</strong>
  <%= @card.budget_non %>
</p>

<p>
  <strong>Employers_non:</strong>
  <%= @card.employers_non %>
</p>

<p>
  <strong>Population_non:</strong>
  <%= @card.population_non %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @card.image.url(:medium) %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
