<div class="cards">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <p class="bg-danger" id="notice"><%= notice %></p>
        <div class="gauge">
          <div class="icon budget text-center">
            <p><%= session[:budget_gauge] %>%</p>
                <%= image_tag("eco.svg", :alt => "eco feed") %>
          </div>
          <div class="icon employer text-center">
            <p><%= session[:employers_gauge] %>% </p>
            <%= image_tag("patronnat.svg", :alt => "patronnat feed") %>
          </div>
            <div class="icon population text-center">
            <p><%= session[:population_gauge] %>% </p>
            <%= image_tag("peuple.svg", :alt => "peuple feed") %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 ">
      <h2>Mois <%= session[:score] %></h2>
    </div>
  </div>

      <p class="hidden"><%= session[:played_card] %> </p> <!--  hidden  -->


  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="card vertical-center center-text">
        <%= image_tag @card.image.url(:medium), class: "center-block" %>
        <h1 >
          <%= @card.title %>
        </h1>
        <p>
          <%= @card.desc %>
        </p>
          <%= link_to 'Oui', oui_path(@card), class: "btn btn-lg btn-primary btn-green" %>
          <%= link_to 'Non', non_path(@card), class: "btn btn-lg btn-primary btn-green" %>

      </div>
    </div>
  </div>



      <p class="hidden"> <!--  hidden  -->
        <strong>Budget_oui:</strong>
        <%= @card.budget_oui %>
      </p>
      <p class="hidden"> <!--  hidden  -->
        <strong>Employers_oui:</strong>
        <%= @card.employers_oui %>
      </p>
      <p class="hidden"> <!--  hidden  -->
        <strong>Population_oui:</strong>
        <%= @card.population_oui %>
      </p>
      <p class="hidden"> <!--  hidden  -->
        <strong>Budget_non:</strong>
        <%= @card.budget_non %>
      </p>
      <p class="hidden"> <!--  hidden  -->
        <strong>Employers_non:</strong>
        <%= @card.employers_non %>
      </p>
      <p class="hidden"> <!--  hidden  -->
        <strong>Population_non:</strong>
        <%= @card.population_non %>
      </p>





      <!-- <div class="container mod">
        <button type="button" class="btn btn-info btn-lg intero" data-toggle="modal" data-target="#myModal">   <%= image_tag("info.svg", :alt => "info feed") %> </button>

        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close croix" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Conseils</h4>
              </div>
              <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="modal-footer">
              </div>
            </div>

          </div>
        </div>

      </div> -->



      </div>

    </div>
  </div>
</div>
